{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GENUS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <nav class="nav-uol">
                <img src="{% static 'assets/imgs/Logo-UOL.png' %}" alt="Logo-UOL">
            </nav>
            <nav class="nav-jc">
                <a href="{% url 'jornal:index' %}"><img src="{% static 'assets/imgs/Logo-JC.png' %}" alt="Logo-JC"></a>
                <a href="{% url 'jornal:index' %}"><i><img src="{% static 'assets/icons/backarrow.png' %}" alt="Voltar"></i></a>
            </nav>
        </div>
    </header>
    <main>
        <div class="div-container">
                <section class="login-input">
                    <input type="text" placeholder="Email">
                    <i><img src="{% static 'assets/icons/mail.png' %}" alt="Email"></i>
                </section>
                <section class="login-input">
                    <input type="text" placeholder="Senha">
                    <i><img src="{% static 'assets/icons/pencil.png' %}" alt="Senha"></i>
                </section>
                <section class="login-input">
                    <input type="text" placeholder="Confirmar senha">
                    <i><img src="{% static 'assets/icons/padlock.png' %}" alt="Confirmar"></i>
                </section>
                <section class="login-with">
                    <a href="#"><img src="{% static 'assets/icons/Icon-google.png' %}" alt="Google"></a>
                    <a href="#"><img src="{% static 'assets/icons/Icon-facebook.png' %}" alt="Facebook"></a>
                </section>
                <button>Entrar</button>
        </div>
    </main>
    <script src="{% static 'scripts/register.js' %}"></script>
</body>
</html>