{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ noticia.titulo }} | GENUS{% endblock %}

{% block content %}
<article class="noticia-detalhe">
    <h1>{{ noticia.titulo }}</h1>

    <div class="noticia-meta">
        <span>Por: <strong>{{ noticia.reporter }}</strong></span>
        <span>Publicado em: {{ noticia.data|date:"d/m/Y \à\s H:i" }}</span>
    </div>

    <div class="corpo-noticia">
        {{ noticia.detalhes|linebreaks }}
    </div>

    {% if user.is_authenticated %}
        
        <button 
            id="btn-toggle-favorito"
            class="noticia-card-link btn-favorito {% if is_favorito %}favorito-ativo{% endif %}"
            data-noticia-id="{{ noticia.id }}"
            data-toggle-url="{% url 'jornal:toggle_favorito' noticia.id %}"
        >
            {% if is_favorito %}
                Remover dos Favoritos
            {% else %}
                Adicionar aos Favoritos
            {% endif %}
        </button>
        
    {% else %}
        <p>Faça login para adicionar aos favoritos.</p>
    {% endif %}
</article>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/favoritos.js' %}"></script>
{% endblock %}